.container {
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
}
.container h2 {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 30px;

  letter-spacing: 2px;
}

.cards_container {
  display: flex;

  justify-content: center;
}
.card_animation {
  flex: 1;
}
.card {
  text-align: center;

  min-height: 460px;
  color: var(--color-black);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 60px;
}

.card_title {
  min-height: 460px;
  color: var(--color-white2);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black2);
  /* padding: 20px 60px; */
  position: relative;
}
.card_title h2 {
  position: relative;
  display: block;
}
.card h3 {
  font-family: var(--font_4);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.card_title h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--color-primary);
  height: 2px;
  box-sizing: border-box;
  width: 100%;
}
.card p {
  line-height: 22px;
}

@media (max-width: 768px) {
  .cards_container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 574px) {
  .container {
    padding: 50px 20px;
    padding-bottom: 30px;
  }
  .card {
    padding: 20px 10px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 50px 20px;
  }
  .card p {
    line-height: 18px;
    font-size: 15px;
  }
  .card {
    min-height: 480px;
  }
  .card_title {
    min-height: 480px;
  }
}
