.container {
  padding: 100px 50px;
  text-align: center;
}
.container h2 {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 50px;
}
.cards_container {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 30%;
  height: 80vh;

  overflow: hidden;
  position: relative;
}

.card h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: var(--color-white);
  font-family: var(--font_4);
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 30px;
  text-transform: uppercase;
}

.card::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

.img_container {
  width: 100%;
  height: 100%;
}
.img_container img {
  height: 100%;
}
@media (max-width: 1280px) {
  .container {
    padding: 50px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 70px 50px;
  }
  .cards_container {
    flex-direction: column;
    gap: 30px;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 574px) {
  .container {
    padding: 70px 20px;
    padding-bottom: 30px;
  }
}
