.navbar {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;

  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 20px;
  color: var(--color-white);
  background-color: rgba(74, 75, 75, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.links {
  display: flex;
  font-family: var(--font_4);
  font-weight: 300;

  gap: 25px;
  font-size: 23px;
  letter-spacing: 2px;
  cursor: pointer;
}
.links li a {
  color: var(--color-white);
  text-decoration: none;
}
.links li,
.menu_active ul li {
  transition: all 0.3s;
}
.links li a:hover,
.menu_active ul li a:hover {
  color: #cdcdcd;
  cursor: pointer;
}
.menu {
  border-top: 1px solid #6a6a6a;
  position: fixed;
  top: 140px;
  left: 50px;
  right: 50px;
  height: 0;
  background-color: rgba(74, 75, 75, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-family: var(--font_4);
  transition: all 0.4s;
  opacity: 0;
}
.menu_active {
  border-top: 1px solid #b9b9b9c4;
  position: absolute;
  top: 140px;
  left: 50px;
  right: 50px;
  height: 60px;
  opacity: 100;
  background-color: rgba(74, 75, 75, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-family: var(--font_4);
  transition: all 0.4s;
  opacity: 100;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.menu_active ul {
  display: flex;
  color: var(--color-white);
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu ul {
  display: flex;
  color: var(--color-white);
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 0;
  display: none;
}

.links_mobile {
  display: none;
}

.menu_mobile {
  position: fixed;
  width: 100%;
  height: 100svh;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.menu_mobile_container {
  background-color: var(--color-black);
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0%;
  transition: 0.5s;
}
.menu_mobile_container_active {
  background-color: var(--color-black);
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -100%;
  transition: 0.5s;
}
.menu_mobile_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu_mobile_links li {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: var(--font_4);
  letter-spacing: 2px;
}
.menu_mobile_links li a {
  color: var(--color-white);
}
.btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-white);
  z-index: 999999;
}
@media (max-width: 1280px) {
  .navbar {
    top: 20px;
    left: 20px;
    right: 20px;
    height: 70px;
  }
  .menu {
    top: 90px;
    left: 20px;
    right: 20px;
    height: 0;
  }
  .menu_active {
    top: 90px;
    left: 20px;
    right: 20px;
    height: 45px;
    opacity: 100;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
  }
  .links {
    display: none;
  }
  .links_mobile {
    display: block;
  }
}
