.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: var(--color-black2);
  padding: 70px 0;
  margin: 0 50px 50px 50px;
}
.footerCol {
  width: 25%;
  padding: 0 15px;
}
.footerCol h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-family: var(--font_4);
  font-weight: 400;
  letter-spacing: 2px;
}
.footerCol h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--color-primary);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footerCol ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footerCol ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footerCol ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footerCol .socialLinks {
  display: flex;
  gap: 10px;
}
.footerCol .socialLinks a {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerCol .socialLinks a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footerCol {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footerCol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footerCol h4::before {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 50px;
    margin: 0 0px 0px 0px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1170px;
    margin: auto;
  }
  .footer {
    background-color: var(--color-black2);
    padding: 70px 0;
    margin: 0 20px 20px 20px;
  }
}
