.banner_section {
  height: 89vh;
  color: var(--color-white);
  position: relative;
  margin: 0 50px;
  margin-top: 50px;
}
.banner_bg {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: -1;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video_bg {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.txt {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  position: absolute;
  bottom: 80px;
  font-size: 18px;
  font-weight: 400;
  right: 65px;
  padding-right: 30px;
  letter-spacing: 0.6px;
  -webkit-transform: rotate(-90deg) translate(100%);
  -ms-transform: rotate(-90deg) translate(100%);
  transform: rotate(-90deg) translate(100%);
  display: none;
}

.txt:after {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--color-white);
  left: 100%;
  top: 14px;
  -webkit-animation: scrollDown 3s ease-in-out infinite;
  animation: scrollDown 3s ease-in-out infinite;
}

.banner_title {
  position: absolute;
  left: 120px;
  bottom: 120px;
  max-width: 700px;
}
.banner_title h1 {
  font-size: clamp(5rem, 2.5rem + 12.5vw, 13.75rem);
  font-size: clamp(5rem, 3.5rem + 7.5vw, 12.5rem);
  font-family: "Teko", sans-serif;
  letter-spacing: 4px;
  line-height: clamp(6.25rem, 4.821rem + 7.143vw, 11.25rem);
  text-shadow: 1px 1px 2px #747474, -1px -1px 2px #747474;
}
.banner_title h6 {
  font-size: clamp(1.063rem, 0.731rem + 0.924vw, 1.563rem);
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
.banner_title button {
  background-color: transparent;
  color: var(--color-white);
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 25px;
  border: none;
  border: 1px solid var(--color-white);
  cursor: pointer;
  transition: all 0.1s;
}
.banner_title button:hover {
  border: 2px solid var(--color-white);
}

@keyframes scrollDown {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .txt {
    right: 40px;
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .banner_bg {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  .banner_title {
    left: 50px;
    bottom: 50px;
  }
}
@media (min-width: 768px) {
  .banner_section {
    height: 100vh;
    margin: 0 0px;
    margin-top: 0px;
  }
  .txt {
    display: block;
  }
}
@media (max-width: 768px) {
  .banner_bg {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .banner_section {
    height: 100vh;
    margin: 0 0px;
    margin-top: 0px;
  }
  .banner_title {
    left: 20px;
    right: 20px;
  }
}
